body {
    background-color: #f2f2f2;
}

h1 {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
}

p {
    color: black;
    font-family: 'Quicksand', sans-serif;
}